.form {
    background-color: white;
    margin: 20px 0px;
    border-radius: 10px;
}

.form__fieldset {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media(max-width: 767px) {
    .form__fieldset {
        padding: 20px 10px;
    }
}

.form__fieldset--disabled {
    opacity: 0.5;
}

.form__fieldset--active {
    border: 2px solid hsl(176, 72%, 28%);
}

.form__flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__flexContainer--active {
    padding-top: 16px;
    border-top: 1px solid #ccc;
}

.form__flexElement {
    flex: 0 0 auto;
}

@media(max-width: 767px) {
    .form__flexContainer {
        flex-wrap: wrap;
    }
    .form__flexElement {
        flex: 1 0 51%;
    }
    .form__input.form__flexElement {
        flex: 1 1 auto;
    }
    .form__button.form__flexElement {
        flex: 0 0 auto;
    }
}

.form__boldText {
    color: hsl(0, 0%, 0%);
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
}

.form__colourText {
    color: hsl(176, 50%, 47%);
}

.form__input {
    border: 1px solid hsl(176, 50%, 47%);
    padding: 15px;
    border-radius: 40px;
}

@media(max-width: 767px) {
    .form__boldText {
        margin-left: 0px;
    }
    .form__colourText {
        margin-bottom: 10px;
    }
    .form__input {
        width: 0px;
    }
    .form__span {
        margin-bottom: 14px;
    }
    .form__label {
        margin-bottom: 10px;
    }
}

.form__button {
    border: none;
    padding: 15px;
    margin-left: 15px;
    border-radius: 128.02px;
    color: white;
    background-color: hsl(176, 50%, 47%);
}

.form__button:hover {
    background-color: hsl(176, 72%, 28%);
}

.form__button--disabled {
    background-color: hsl(0, 0%, 48%);
}

.form__button--disabled:hover {
    background-color: hsl(0, 0%, 48%);
}