.section {
    background-color: white;
    padding: 25px;
    margin: 20px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.section--product {
    padding: 30px;
    margin: 20px 0px;
}

@media (max-width: 424px) {
    .section--product {
        padding: 25px 15px;
    }
    .section {
        padding: 25px 20px;
    }
}

.section--centred {
    padding-top: 0px;
    text-align: center;
}

.section--short {
    max-width: 550px;
    margin: 0 auto;
}

.section--disabled {
    opacity: 0.5;
}

.section__flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 767px) {
    .section__flexContainer {
        flex-wrap: wrap;
    }
}

.section__flexElement {
    flex: 1 0 auto;
}

.section__flexElement--button {
    flex: 0 0 auto;
}

.section__flexElement--paddingAndBorder {
    padding-left: 35px;
    border-left: 1px solid #ccc;
}

@media(max-width: 767px) {
    .section__flexElement {
        flex: 1 0 51%;
        text-align: center;
        padding-bottom: 15px;
    }
    .section__flexElement--paddingAndBorder {
        text-align: center;
        border-top: 1px solid #ccc;
        padding: 15px 0px 15px 0px;
        border-left: none;
    }
    .section__flexElement--button {
        flex: 1 0 51%;
    }
}

.section__boldText {
    color: hsl(0, 0%, 0%);
    font-size: 26px;
    font-weight: 700;
}

.section__colourText {
    color: hsl(176, 50%, 47%);
}

.section__header {
    color: hsl(0, 0%, 0%);
    margin-top: 0px;
    font-size: 18px;
}

.section__header--top {
    margin-top: 21px;
    font-size: 26px;
}

.section__button {
    border: none;
    padding: 20px;
    border-radius: 128.02px;
    color: white;
    background-color: hsl(176, 50%, 47%);
}

.section__button:hover {
    background-color: hsl(176, 72%, 28%);
}

.section__button--disabled {
    background-color: hsl(0, 0%, 48%);
}

.section__button--disabled:hover {
    background-color: hsl(0, 0%, 48%);
}

.section__bookmarkButton {
    border: none;
    border-radius: 128.02px;
    background-color: #eee;
    color: hsl(0, 0%, 48%);
    align-self: center;
    padding: 0px 20px 0px 0px;
}

.section__bookmarkText {
    margin-left: 10px;
}

@media(max-width: 767px) {
    .section__bookmarkButton {
        border-radius: 50%;
        padding: 0px;
    }
    .section__bookmarkText {
        display: none;
    }
}

.section__bookmarkedButton {
    color: hsl(176, 72%, 28%);
    background-color: hsl(176deg 46% 95%);
}

.section__checkImg {
    margin: 30px 0px;
}

.section__closeButton {
    background-color: white;
    border: none;
}

.section__closeButton:hover {
    cursor: pointer;
}

.section__closeImg {
    background-color: white;
}

.section__logoImg {
    margin-top: -28px;
}