html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    margin: 0 auto;
    background-color: #eee;
    color: hsl(0, 0%, 48%);
    background-image: url("../images/image-hero-desktop.jpg");
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: center top;
}

.main {
    max-width: 800px;
    margin: 0 auto;
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popupPledgeForm {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 800px;
    transform: translate(-50%, -50%) scale(0);
    z-index: 2;
}

.popupPledgeConfirm {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 800px;
    transform: translate(-50%, -50%) scale(0);
    z-index: 2;
}

.overlay--active {
    display: block;
}

.popupPledgeForm--active {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.popupPledgeConfirm--active {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}