.nav {
    margin: 0px;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

.nav__item {
    text-decoration: none;
    margin-left: 20px;
}

.nav__link {
    color: white;
    text-decoration: none;
}