html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #eee;
    color: hsl(0, 0%, 48%);
    background-image: url("./images/image-hero-desktop.jpg");
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: center top;
}

.main {
    max-width: 800px;
    margin: 0 auto;
}
